<%= simple_form_for @user do |f| %>
    <div class="form">
        <%= f.input :first_name, class: "form-group"%>
        <%= f.input :last_name, class: "form-group" %>
        <%= f.input :email, class: "form-group" %>
        <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :avatar, class:"form-group" %>
        </div>
        <%= f.button :submit, class: 'btn-edit' %>
    </div>
<% end %>