<div class="navbar-wagon <%= yield(:navbar_class) %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-bibliotheque.png", class: "logo"%>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Users', users_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'Books', books_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Borrow book</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Return book</a>

  </div>
</div>