<div class="navbar-wagon <%= yield(:navbar_class) %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-bibliotheque.png", class: "logo"%>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Users', users_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'Books', books_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'Borrow book', new_reservation_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'Return book', reservations_path, class: "navbar-wagon-item navbar-wagon-link" %>

  </div>

  <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fas fa-bars fa-2x dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to 'Users', users_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to 'Books', books_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><a href="" class="navbar-wagon-item navbar-wagon-link">Borrow book</a></li>
          <li><a href="" class="navbar-wagon-item navbar-wagon-link">Return book</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>