<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Erwann's Library</h1>
    <a href="https://github.com/ErwannDDLV" target="_blank">
      <i class="fab fa-github-square fa-3x"></i>
    </a>
    <h2>You have <%= Book.count %> books </h2>
    <p>(<%= Book.available.count %> are available / <%= Book.borrowed.count %> are borrowed)</p>
    
    <h2>You have <%= User.count %> users</h2>
    <% if (User.borrowed_book).all.count > 0 %>
      <p><%= (User.borrowed_book).all.count %> borrowed a book</p>
    <% else %>
      <p> Anyone borrowed a book</p>
    <% end %>

  </div>
</div>

<%= content_for(:footer_class, "footer-home") %>