<div id="wrapper-top">
  <div class="head-container">
    <div class="row">
      <div class="col-xs-2 col-md-2">
        <%= button_to 'All users', users_path, class: 'btn-back', method: :get %>
      </div>
    </div>

    <div class="col-xs-8 col-md-8">
      <h1>BOOK LIST : You have <%= @books.count%> books in your Library</h1>
      <h2>just <%= @books.available.count%> are available</h2>
    </div>

    <div class="row">
      <div class="col-xs-4 col-md-4">
        <%= button_to "Add a Book", new_book_path, class: "btn-edit", method: :get %>
      </div>
    </div>
  </div>
</div>

<div id="wrapper">
  <div class="container">
      <div class="row">
    
        <% @books.each do |book| %>
          <div class="col-xs-6 col-md-4">
            <% if book.available? %>
              <div class="book-available">
                <%= link_to image_tag(book.book_cover.url(:book_index), class:"book-cover-available"), book_path(book) %>
              </div>
              <div class="book-title-index">
                <%= book.title%>
              </div>
            <% elsif book.borrowed? %>
              <div class="book-borrowed">
                <%= link_to image_tag(book.book_cover.url(:book_index), class: "book-cover-borrowed"), book_path(book) %>
              </div>
              <div class="book-title-index">
                <%= book.title%>
                <p> (borrowed by : <%= book.user.first_name %>)</p> 
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
  </div>
</div> 


