<div id="wrapper-top">
    <div class="head-container">
        
    </div>
    <div class="head-container">
        <div class="col-xs-2">
            <%= link_to 'Back', url_for(:back), class: 'btn-back' %></div>
        <div class="col-xs-8">
            <h1>BOOK LIST : You have <%= @books.count%> books in your Library</h1>
        </div>
        <div class="col-xs-2">
            <%= button_to "Add a Book", new_book_path, class: "btn-edit", method: :get %>
        </div>
    </div>
</div>

<div id="wrapper">
  <div class="container">
    <% @books.each do |book| %>
      <div class="col-md-4 col-xs-12"> 
        <div class="book_link">
          <% if book.borrowed? %>
            <div class="book-inavailable">
              <%= link_to image_tag(book.book_cover.url(:book_index), class: "book-image"), user_path(book.user) %>
            </div>
          <% else %>  
            <%= link_to image_tag(book.book_cover.url(:book_index), class: "book-image"), book_path(book) %>
          <% end %>
          <div class="book-title">
            <p><%= book.title%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> 
