<div>
      <h1>Title : <%= @book.title%></h1>
      <h3>written by : <%= @book.author%></h3>
      <p>Resume : </p>
      <p><%= @book.resume%></p>
      <a href="books/<%= @book.id %>">
            <%= image_tag @book.book_cover.url(:book_show) %>
      </a>
</div>

<%= link_to 'Edit', edit_book_path(@book) %>

<%= link_to "Delete", @user, method: :delete, data: { confirm: 'Are you sure?' }%>

<%= link_to 'Back', root_path %>
